:root {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
}


